[Unit]
Description=Generate service-account key file

[Service]
ExecStartPre=-/usr/bin/mkdir -p /opt/share/kube
ExecStart=/bin/openssl genrsa -out /opt/share/kube/kube-serviceaccount.key 2048 2>/dev/null
RemainAfterExit=yes
Type=oneshot

[X-Fleet]
MachineOf=kube-apiserver.service
