[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
Requires=etcd2.service generate-serviceaccount-key.service
After=etcd2.service generate-serviceaccount-key.service

[Service]
EnvironmentFile=/etc/kube-config.env
ExecStartPre=/opt/bin/curl-update-binary /opt/bin/kube-apiserver https://storage.googleapis.com/kubernetes-release/release/v0.20.2/bin/linux/amd64/kube-apiserver
ExecStart=/opt/bin/kube-apiserver \
  --v=3 \
  --logtostderr=true \
  --allow_privileged=true \
  --kubelet_https=true \
  --service_account_lookup=false \
  --service_account_key_file=/opt/share/kube/kube-serviceaccount.key \
  --admission_control=NamespaceLifecycle,NamespaceAutoProvision,LimitRanger,SecurityContextDeny,ServiceAccount,ResourceQuota \
  --address=0.0.0.0 \
  --port=${KUBE_MASTER_PORT} \
  --etcd_servers=http://127.0.0.1:2379 \
  --service-cluster-ip-range=${KUBE_SERVICE_RANGE}
Restart=always
RestartSec=10

[X-Fleet]
Global=true
MachineMetadata=k8srole=master
