[Unit]
Description=Kubernetes Registration Service
Documentation=https://github.com/kelseyhightower/kube-register
Requires=kube-apiserver.service
After=kube-apiserver.service
Requires=fleet.service
After=fleet.service

[Service]
EnvironmentFile=/etc/kube-config.env
ExecStartPre=/opt/bin/curl-update-binary /opt/bin/kube-register https://github.com/kelseyhightower/kube-register/releases/download/v0.0.4/kube-register-0.0.4-linux-amd64
ExecStart=/opt/bin/kube-register \
  --metadata=${KUBE_REGISTER_METADATA} \
  --fleet-endpoint=unix:///var/run/fleet.sock \
  --api-endpoint=http://127.0.0.1:${KUBE_MASTER_PORT} \
  --healthz-port=${KUBE_HEALTHZ_PORT}
Restart=always
RestartSec=10

[X-Fleet]
MachineOf=kube-apiserver.service
