[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
Requires=setup-network-environment.service
After=setup-network-environment.service

[Service]
EnvironmentFile=/etc/network-environment
EnvironmentFile=/etc/leader
ExecStartPre=-/usr/bin/rm /opt/bin/kubelet
ExecStartPre=/usr/bin/curl -L -o /opt/bin/kubelet -z /opt/bin/kubelet https://storage.googleapis.com/kubernetes-release/release/v0.19.3/bin/linux/amd64/kubelet
ExecStartPre=/usr/bin/chmod +x /opt/bin/kubelet
ExecStart=/opt/bin/kubelet \
  --address=0.0.0.0 \
  --port=10250 \
  --hostname_override=${DEFAULT_IPV4} \
  --api_servers=http://${LEADER_ENDPOINT}:9090 \
  --allow_privileged=true \
  --logtostderr=true \
  --healthz_bind_address=0.0.0.0 \
  --healthz_port=10248
Restart=always
RestartSec=10

[X-Fleet]
Global=true
