[Unit]
Description=Kubernetes Proxy
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
EnvironmentFile=/etc/leader
ExecStartPre=/opt/bin/curl-update-binary /opt/bin/kube-proxy https://storage.googleapis.com/kubernetes-release/release/v0.19.3/bin/linux/amd64/kube-proxy
ExecStart=/opt/bin/kube-proxy \
  --master=http://${LEADER_ENDPOINT}:9090 \
  --logtostderr=true
Restart=always
RestartSec=10

[X-Fleet]
Global=true
